body {
    background-color: salmon;
}

.navbar {
    background-color: #2c3e50;
}
.navbar-brand {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5rem;
    color: #ecf0f1 !important;
}
.navbar-nav .nav-link {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem;
    margin: 0 10px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    color: #ecf0f1;
}
.navbar-nav .nav-link:hover {
    color: #2c3e50;
    background-color: #ecf0f1;
    border-radius: 5px;
}
.navbar-toggler {
    border: none;
}
.navbar-toggler-icon {
    background-image: url('data:image/svg+xml,<svg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"><path stroke="rgba%28255, 255, 255, 1%29" stroke-width="2" linecap="round" linejoin="round" d="M4 7h22M4 15h22M4 23h22"/></svg>');
}
.active {
    color: #f1c40f !important;
    font-weight: bold;
    border-bottom: 2px solid #f1c40f;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
